doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type"
      content="text/html; charset=utf-8")
    meta(name="viewport"
      content="width=device-width, initial-scale=1.0")
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src="http://code.jquery.com/mobile/1.4.5"
      +"/jquery.mobile-1.4.5.min.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js-cookie/src/js.cookie.js')
    script(src='/js/get_examples_client.js')

    link(rel='stylesheet'
      href="http://code.jquery.com/mobile/1.4.5"
        +"/jquery.mobile-1.4.5.min.css")
    title naver endic examples

  body
    div(data-role="page")
      div(data-role="header")
        h3(id="id_title" style="margin: 0; width: 100%;") endic examples

      div(data-role="content")
        p(id="id_pronoun" style="white-space: pre-line;")
        p(id="id_definition" style="white-space: pre-line;")

      ul(id="id_examples" data-role="listview" data-theme="g")

